# Type the Bible

By Kenneth Burchfiel

Code is released under the MIT license; Bible verses are from the Web English Bible (Catholic Edition)* and are in the public domain


* Genesis was not found within the original WEB Catholic Edition folder, so I copied in files from another Web English Bible translation instead. I imagine, but am not certain, that these files are the same as the actual Catholic Edition Genesis files.

In [1]:
import pandas as pd
import time

## Very simple typing test:

In [2]:
df_Bible = pd.read_csv('WEB_Catholic_Version.csv')
df_Bible

,Book_Order,Book_Name,Chapter_Name,Verse_#,Verse_Order_Within_Bible,Verse
0,1,GEN,1,1,1,"In the beginning, God created the heavens and ..."
1,1,GEN,1,2,2,The earth was formless and empty. Darkness was...
2,1,GEN,1,3,3,"God said, ""Let there be light,"" and there was ..."
3,1,GEN,1,4,4,"God saw the light, and saw that it was good. G..."
4,1,GEN,1,5,5,"God called the light ""day"", and the darkness h..."
...,...,...,...,...,...,...
35374,95,REV,22,17,35375,"The Spirit and the bride say, ""Come!"" He who h..."
35375,95,REV,22,18,35376,I testify to everyone who hears the words of t...
35376,95,REV,22,19,35377,If anyone takes away from the words of the boo...
35377,95,REV,22,20,35378,"He who testifies these things says, ""Yes, I am..."
35378,95,REV,22,21,35379,The grace of the Lord Jesus Christ be with all...

In [13]:
df_results = pd.read_csv('results.csv', index_col='Test_Number')
df_results

,Start_Time,Characters,Seconds,CPS,WPM,Book,Chapter,Verse_Order,Verse
Test_Number,,,,,,,,,
1,1697169337,56,3.852665,14.535391,174.424697,GEN,1,1,"In the beginning, God created the heavens and ..."

In [ ]:
verse_number = 1

In [ ]:
verse = df_Bible.iloc[1]['Verse']
verse

In [ ]:
print(f"Type the following verse:\n{verse}") 
print("The clock will start in 3 seconds!")
time.sleep(3)
print("Start!")
typing_start_time = time.time()
verse_response = input()
typing_end_time = time.time()
typing_time = typing_end_time - typing_start_time
if verse_response == verse:
    print(f"Well done! You successfully typed the verse in {typing_time} seconds.")

In [ ]:
cps = len(verse) / typing_time # Calculating characters per second
wpm = cps * 12 # Multiplying by 60 to convert from characters to minutes, 
# then dividing by 5 to convert from characters to words.
wpm

In [ ]:
df_results = pd.DataFrame(index = [len(df_results)+1], data = {'Start_Time':typing_start_time, 
'Characters':len(verse),
'Seconds':typing_time, 
'CPS': cps,
'WPM':wpm,
'Book': df_Bible.iloc[0]['Book_Name'],
'Chapter': df_Bible.iloc[0]['Chapter_Name'],
'Verse':verse, 
'Verse_Order':df_Bible.iloc[0]['Verse_Order_Within_Bible']})
df_results

In [ ]:
typing_start_time

In [ ]:
pd.to_datetime(typing_start_time)

In [ ]:
import datetime

In [ ]:
df_results.at[(len(df_results)+1)] = {'Start_Time':typing_start_time, 
'Characters':len(verse),
'Seconds':typing_time, 
'CPS': cps,
'WPM':wpm,
'Book': df_Bible.iloc[0]['Book_Name'],
'Chapter': df_Bible.iloc[0]['Chapter_Name'],
'Verse':verse, 
'Verse_Order':df_Bible.iloc[0]['Verse_Order_Within_Bible']}
df_results.index.name = 'Test_Number'
df_results

# Passing len(df_results)+1 to at[] ensures that the next Test_Number value 
# will always be one greater than the previous value. The +1 ensures
# that the Test Numbers appear as 1, 2, 3, etc. rather than as 0, 1, 2, etc.

In [ ]:
df_results.to_csv('results.csv') # We don't actually need to 
# keep the index that we just created